:root {
  --suditya: orange;
  --op: linear-gradient(to bottom right, yellow, red);
  --op2: linear-gradient(to bottom right, yellow, red);
  --hi: white;
  --hello: black;
  --s1: rgb(204, 219, 232);
  --s2: rgba(255, 255, 255, 0.5);
  --htt: white;
  --shush: white;
  --are: orange;
  --kro: white;
  --bc: linear-gradient(to bottom right, yellow, red);
  --lol: white;
  --su: white;
  --harry: red; 
  --jo: #0015FB;
  
}

.darker {
  --suditya: white;
  --hello: white;
  --hi: black;
  --op: white;
  --op2: #3d3a3a;
  --s1: transparent;
  --s2: transparent;
  --htt: #3d3a3a;
  --shush: #3d3a3a;
  --are: white;
  --kro: #3d3a3a; 
  --bc: white;
  --lol: black;
  --su: #333333;
  --harry: white; 
  --jo: white; 
}

body {
  position: relative;
  top: -20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  width: 100%;
  height: 100%;
  font-size: 15pt;
  margin: 0;
  padding: 0;
  font-family: 'Josefin Sans', sans-serif;
  background: var(--op2);
}


h3 {
  text-align: center;
  color: black;
}

.container {
  Width: 75%;
  display: flex;
  justify-content: Center;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  padding: 20px 0 0 0;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(10px);

}


input {
  width: 85%;
  height: 45px;
  border: none;
  border-radius: 20px;
  box-shadow: var(--s1) 3px 3px 6px 0px inset, var(--s2) -3px -3px 6px 1px inset;
  text-align: right;
  font-size: 30px;
  font-family: 'Josefin Sans', sans-serif;
  padding-right: 15px;
  color: var(--harry);
  transition: 0.8s;
  background: var(--su);

}

.zodd {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.hup {
  background: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 20px;
  margin-right: 1px;
  height: 25px;
  font-size: 18px;
  width: 20%;
  margin-top: 8px;
  border-radius: 20px;
}

.ball {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: 1s;
  background: linear-gradient(to bottom right, yellow, red);
  position: absolute;
  left: 23px;
}

.ball2 {
  left: 49px;
  background: red;
}

.icon1,
.icon2 {
  position: relative;
  z-index: 1;
  transition: 1s;
}

.icon1 {
  color: var(--hi);
}

.icon2 {
  color: var(--hello);
}

#total {
  padding: 0 8px;
  height: 25px;
  font-size: 22px;
  width: 30%;
  margin-right: 18px;
  color: var(--jo);
  margin-top: 8px;
  transition: 1.5s;
}

button {
  font-weight: bold;
  max-width: 55px;
  min-width: 55px;
  max-height: 55px;
  min-height: 55px;
  border-radius: 50%;
  border: 0px solid black;
  background: var(--htt);
  color: var(--suditya);
  margin: 4px 2px;
  font-size: 25px;
  font-family: 'Josefin Sans', sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.cool {
  margin-top: 6px;
}

.sk {
  margin-right: 0px;
  background: var(--op);
  color: var(--shush);
}

.sp {
  max-width: 110px;
  min-width: 110px;
  border-radius: 30px;
}

button:active {
  background: var(--bc);
  color: var(--lol);
}

.sk:active {
  background: var(--kro);
  color: var(--are);
}

h3 {
  color: white;
}

::placeholder {
  font-size: 15px;
  color: var(--negi);
  font-family: 'Josefin Sans', sans-serif;
  text-align: right;
  padding: 0;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  color: white;
  position: relative;
  top: 70px;
}


/*RESPONSIVISTY*/

@media (min-width: 1000px) {
  body {
    background: lawngreen;
  }
}

@media (min-width: 980px) {

  .container {
    width: 50%;
    max-height: auto;
  }

  button {
    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
  }

  .noob {
    max-width: 110px;
    min-width: 110px;
    max-height: 110px;
    min-height: 110px;
  }

  .sp {
    min-width: 182px;
    border-radius: 60px;
  }

  .zodd {
    width: 85%;
  }

  input {
    margin-top: 30px;
  }
}